[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "~=21.2"
psycopg2-binary = "*"
dj-database-url = "==2.0.0"
requests = "*"
pandas = "*"
xlsxwriter = "*"
djangorestframework = "*"
numpy = "*"
pyotp = "*"
qrcode = {extras = ["pil"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
