{% extends 'base.html' %}

{% block title %}Kdosh{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hello, {{ user.username }}!

<ul>
    <li><a href="{% url 'barcode' %}">Barcode</a></li>
    <li><a href="{% url 'purchase_order_sheet' %}">Orden</a></li>
    <li><a href="{% url 'stock_picking_sheet' %}">Guías</a></li>
    <li><a href="/apps/product-rpc">Almacen</a></li>
    <li><a href="/apps/pos-close-control">Caja Cuadre</a></li>
    <li><a href="{% url 'miscellaneous' %}">Otros</a></li>
    {% if user.is_superuser %}
    <li><a href="{% url 'admin:index' %}">Admin</a></li>
    {% endif %}
    <li><a href="{% url 'logout' %}">Salir</a></li>
</ul>

{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In?</a>
{% endif %}
{% endblock %}
