@import "../styles/variables";

.ab-store {
  background-color: var(--ab-bg-color);
}

.sm-store {
  background-color: var(--sm-bg-color);
}

.tg-store {
  background-color: var(--tg-bg-color);
}

.tt-store {
  background-color: var(--tt-bg-color);
}
